<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
<meta charset="utf-8">
<title> SIGN IN </title>
</head>
<body bgcolor="#AFEEEE">
<center>
<h1>Enter bank details</h1>
<form method="POST">
{% csrf_token %}
Account Number:
<input type="text"></input><br><br>
Amount:
<input type="text"></input><br><br>
Bank Name:
<input type="text"></input><br><br>
IFSC Code:
<input type="text"></input><br><br>
PIN:
<input type="password"></input><br><br>
<input type="submit" value="Pay"></input>
</form>
</center>

</body>
</html>
